body, td, th {
	font-family: arial;
	font-size: 16pt;
}

.border {
	font-family: arial;
	font-size: 16pt;
	border: black 1px solid;
	margin: 0px;
	padding: 0px;
	border-spacing: 0;
	border-collapse: collapse;
}

.head {
	font-weight:bold;
	COLOR: #D0103A;
	FONT-FAMILY: Arial, sans-serif;
	font-size: 16px;
}

td.navbar {
	text-align: center; 
	background: #D0103A;
}

td.navbar:Hover {
	text-align: center; 
	background: #FFFFFF;
}

.error {
	font-family: arial;
	color: #FFF;
	font-size: 16pt;
	background-color: #D0103A;
	text-align: center;
	font-weight:bold;
}
.login {
	border: 1px solid #006;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
}
A.frontlink

	{

		font-family:arial;

		color:#D0103A;

		text-decoration:none;
		font-size: 16px;
	font-weight:bold;

		}



.title {
	font-weight:bold;
	COLOR: #D0103A;
	FONT-FAMILY: arial, tahoma,verdana, sans-serif;
	font-size: 16pt;
}



.subtitle {
	COLOR: #4B306A;
	FONT-FAMILY: arial, tahoma,verdana, sans-serif;
	font-size: 16pt;
}

.fronttitle {
	font-weight:bold;
	COLOR: #D0103A;
	FONT-FAMILY: arial, tahoma,verdana, sans-serif;
	font-size: 16pt;
}



.frontsubtitle {
	font-weight:bold;
	COLOR: #4B306A;
	FONT-FAMILY: arial, tahoma,verdana, sans-serif;
	font-size: 16pt;
}


h4 {
	font-weight:bold;
	COLOR: #0099CC;
	FONT-FAMILY: arial, tahoma,verdana, sans-serif;
	font-size: 16pt;
}
.courseHeading {
	font-weight:bold;
	COLOR: #0099CC;
	FONT-FAMILY: arial, tahoma,verdana, sans-serif;
	font-size: 16pt;
	text-align:right;
}


.left {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#EEEEEE;
	text-align: right;
}

.right {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color:#E9E7E8;
	text-align: left;
}
.center {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color:#E9E7E8;
	text-align: center;
}

.hleft {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#9CBCF0;
	text-align: right;
}

.h2left {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#FF4123;
	text-align: right;
}

.h3left {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#FF7E00;
	text-align: right;
}

.hright {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color:#9CBCF0;
	text-align: left;
}

.error_right {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color: #FF552A;
	text-align: left;
}
.h2right {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color:#FF4123;
	text-align: left;
}

.h3right {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color:#FF7E00;
	text-align: left;
}

.hcenter {
	font-family: arial, Helvetica, sans-serif;
	color: 4F4E4E;
	font-size: 16pt;
	background-color:#9CBCF0;
	text-align: left;
}

.highlight_right {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#D3E8F2;
	text-align: left;
}

.highlight_left {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#D3E8F2;
	text-align: right;
}

.eright {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#FB9F9F;
	text-align: left;
}
.eleft {
	font-family: arial, Helvetica, sans-serif;
	color: 000000;
	font-size: 16pt;
	background-color:#FB9F9F;
	text-align: right;
}
.textbox	{
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: gray 1px solid;
	font-size: 16pt;
	BORDER-LEFT: gray 1px solid;
	COLOR: BLACK;
	BORDER-BOTTOM: gray 1px solid;
	FONT-FAMILY: arial,verdana;
	BACKGROUND-COLOR: E6E6E6;
	padding:10px; 
	margin:10px;
	text-align:top;
}

.textbox1	{
	BORDER-RIGHT: black 1px solid;
	BORDER-TOP: black 1px solid;
	font-size: 16pt;
	BORDER-LEFT: black 1px solid;
	COLOR: BLACK;
	BORDER-BOTTOM: black 1px solid;
	FONT-FAMILY: arial,verdana;
}

.textbox2	{
	width: 250px;
	border-style: solid;
	BORDER-RIGHT: black 0px #FFFFFF;
	BORDER-TOP: black 1px #FFFFFF;
	font-size: 16pt;
	BORDER-LEFT: black 1px #FFFFFF;
	COLOR: black;
	BORDER-BOTTOM: black 1px #FFFFFF;
	FONT-FAMILY: arial;
	BACKGROUND-COLOR: white;
}
.slim_textbox	{
	BORDER-RIGHT: black 1px solid;
	BORDER-TOP: black 1px solid;
	font-size: 16pt;
	BORDER-LEFT: black 1px solid;
	COLOR: BLACK;
	BORDER-BOTTOM: black 1px solid;
	FONT-FAMILY: arial,verdana;
}


.gButton {
	background-color: #D2D2D2;
	border-color: #FFFFFF;
	border-style: beveled;
	border-width: 1;
	color: 606060;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
	width: 80px;
}

.gButton1 {
	background-color: #D2D2D2;
	border-color: #FFFFFF;
	border-style: beveled;
	border-width: 1;
	color: 606060;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
	width: 130px;
}

.gButton2 {
	background-color: #D2D2D2;
	border-color: #FFFFFF;
	border-style: beveled;
	border-width: 1;
	color: 606060;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
}

.submit3 {
	background-color: #D2D2D2;
	border-color: #FFFFFF;
	border-style: beveled;
	border-width: 1;
	color: 606060;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
}

.slim_button {
	background-color: #D2D2D2;
	border-color: #FFFFFF;
	border-style: beveled;
	border-width: 1;
	color: 606060;
	font-size: 16pt;
	font-family: arial;
}







.title1



{

	font-family: verdana;

	font-size: 1.4em;

	color: #CC0000;

	font-weight: normal;



}
.title2



{

	font-family: verdana;

	font-size: 1.2em;

	color: #636363;

	font-weight: normal;



}



.subtitle1



{

	font-family: verdana;

	font-size: 0.8em;

	font-weight: bold;

	color: #CC0000;



}

.subtitle2



{

	font-family: verdana;

	font-size: 1.1em;

	font-weight: normal;

	color: #0099CC;



}






.submit2{



	color:000000;

	border-style:solid;

	font-size:11px;

	border-width :1px;

}





.sub_btn {

	background-color: #515151;

	color: #AFAEAE;

	height: 18px;

	font-family: verdana;

	font-size: 16px;

	border: 1px solid #AFAEAE;

	width: 60px;

}
.required {
	color: #B30400;
}


A.listing

	{

		font-family: verdana;

		color:585859;

		text-decoration:none;

		}



	A.listing:hover

	{

		font-family:arial;

		color:D01112;

		text-decoration:none;

	}



A.up

	{

		font-family:arial;

		color:#FFFFFF;

		text-decoration:none;
		font-size: 16px;
	font-weight:bold;

		}



	A.up:hover

	{
		font-family:arial;
		color:#000000;
		text-decoration:none;
		font-size: 16px;
	font-weight:bold;
	}





A.llink

	{

		font-family:arial;

		color:0363A0;

		text-decoration:none;

	}

	A.llink:hover

	{

		font-family:arial;

		color:585859;

		text-decoration:none;

		}



A.small

	{

		font-family:arial;

		color:B20C0C;

		text-decoration:none;

		font-size:9px;

	}

	A.small:hover

	{

		font-family:arial;

		color:8B8B8B	;

		text-decoration:none;

		font-size:9px;

		}



A.slink

	{

		font-family:arial;

		color:828282;

		text-decoration:none;

		font-size:9px;

	}

	A.slink:hover

	{

		font-family:arial;

		color:003A73	;

		text-decoration:none;

		font-size:9px;

		}



#sectionLinks a:link, .sectionLinks a:link {
	display: block;
	font-weight: bolder;
	font-size: 16pt;
	padding: 3px 0px 3px 10px;
	color:  #005FA9;
	letter-spacing: 0.1em;
	font-stretch: semi-expanded;
	text-decoration: none;
}
#sectionLinks a:visited, .sectionLinks a:visited {
	display: block;
	font-weight: bolder;
	font-size: 16pt;
	padding: 3px 0px 3px 10px;
	color: #0086C4;
	letter-spacing: 0.1em;
	text-decoration: none;
}
#sectionLinks a:hover, .sectionLinks a:hover{
	background-color: #DDEEFF;
	font-weight: bold;
	font-size: 16pt;
	text-decoration: none;
}

#green		{color: #224A2E;}

#dblue		{color: #003A73;}

#lblue		{color: #0099CC;}

#white		{color: #FFFFFF;}

#black		{color: #000000;}

#orange	{color: #FF6500;}

#gray		{color: #D3D2D0;}

#dgray		{color: #4F4F4E;}

#ggreen	{color: #95FF00;}

#green		{color: #1A6300;}

#red			{color: #B30400;}

#dred		{color: #9A1E1C;}

#copy		{color: #870000;}

#dcopy	{color: #660000;}

#manju		{color: #b99000;}

#yellow	{color: #FAE402;}

#byellow	{color: #EB7D0E;}

#pink		{color: #FF00FC;}

#ink			{color: #850505;}

#sitebg		{color: #E8E3D0;}

.borderTable {
	    border-color: #003A73;
	    border-width: 1px 1px 1px 1px;
	    border-style: solid;
	    margin: 0px;
	    padding: 0px;
	    background-color: #DDEEFF;
}

.borderTableHeader {
	    border-color: #003A73;
	    border-width: 1px 1px 1px 1px;
	    border-style: solid;
	    margin: 0px;
	    padding: 0px;
	    background-color: #DDEEFF;
}
